<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis_demo.mapper.UserMapper">

    <!-- 查询, 根据id查询-->
    <select id="getUserById" resultType="com.example.mybatis_demo.model.UserInfo">.
            select * from userinfo where id=#{id}
    </select>

    <!-- 根据用户id修改用户名称-->
    <update id="update">
        update userinfo set username=#{name} where id=#{id}
    </update>

    <!-- 删除 根据id删除用户名-->
    <delete id="delete">
        delete from userinfo where id=#{id}
    </delete>

<!--     添加用户并返回受影响的行数.  如果返回的是受影响的行数, 那么就不用设置resultType-->
<!--    注意"{}"中是指对象中的属性名, 注意此参数一定要和对象中的参数名相同-->
    <insert id="add">
        insert into userinfo(username, password, photo)
        values(#{username}, #{password}, #{photo})
    </insert>

<!--    添加用户, 返回受影响的函数和自增id-->
<!--    keyProperty: 生成的自增id要赋值给对象的哪个属性-->
<!--    keyColumn: 设置数据表中哪个字段自增-->
    <insert id="addGetId" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into userinfo(username, password, photo)
        values(#{username}, #{password}, #{photo})
    </insert>
</mapper>